/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@font-face {
    font-family: "IranSans";
    src: url("/font/IRANSansMobile.ttf");
}

body{
    font-family: IranSans, serif;
}